.toolboxPanel {
    margin-bottom: 6px;
    width: 300px;
}

#journeyWrapper .toolboxPanel {
    height: calc(100vh - 417px);
}

#journey {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.toolboxWidth {
    width: 300px;
}

.toolboxWidthPadded {
    width: 283px;
}

.toolboxWidthWithScroller {
    width: 313px;
}

.toolboxPanel .dropdown-menu {
    border-style: groove;
    border-width: thin;
    border-bottom-color: black;
}