.room-for-navbar {
  padding: 47px 0;
}

html,body {
    height:100%;
}

#mainWorkArea {
    height: 100%;
    padding: 7px 0px 0px;
    position: relative;
}

.tall {
    height: 100%;
}

.mapboxgl-canvas-container {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
}

.mapboxgl-popup-content {
    border-radius: 12px;
}

#map {
    padding: 0px;
    height: 100%;
}

.hide {
    display: none;
}

#toolboxContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 5px;
    width: 313px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#journeyName {
    font-weight: normal;
    margin-bottom: 5px;
}

#journeyDistance {
    font-weight: normal;
    font-size: 0.75em;
    display: inline-block;
}

#journeyItemsScrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

.minSliderLabel {
    float: left;
}

.maxSliderLabel {
    float: right;
}

.draghandle {
    cursor : move;
}

.meansButtonWrapper {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 3px;
    float: right;
    width: 30px;
}

.meansIcon {
    width: 24px;
    height: 24px;
}

.panel-body {
    padding: 5px;
}

.toFromIcon {
    background:blue;
    color:white;
    text-align:center;
    border-radius:50%;
    border:3px solid rgba(255,255,255,0.5);
}

.positionIcon {
    background:blue;
    color:white;
    text-align:center;
    border-radius:50%;
    border:4px solid rgba(255,255,255,0.5);
}

.forbiddenIcon {
    background:white;
    color:red;
    font-size: 20px;
    text-align:center;
    border-radius:50%;
}

.warningIcon {
    background:#993d00;
    color:white;
    text-align:center;
    font-size: 16px;
    border-radius:50%;
}

.panelHeading {
    font-size: 0.75em;
}

.panelBody {
    font-size: 0.70em;
    background-color: transparent;
    width: 100%;
    font-weight: normal;
}

.placeHolderText {
    font-weight: 300;
    font-size: 0.7em;
}

.vertical-label-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: absolute;
    margin-top: -73px;
    margin-left: 26px;
    color: #095f8a;
    height: 0px;
    background:none;
    overflow:visible;
    pointer-events:none;
}

.routingPreference {
    float: left;
    width: 100%;
}

.routingLeftPreference {
    float: left;
    width: calc(50% - 4px);
    margin-right: 4px;
}

.routingRightPreference {
    float: left;
    width: calc(50% - 4px);
    margin-left: 4px;
}

.routingPreference .horizontalSlider {
    width: 100%;
}

.routingLeftPreference .horizontalSlider {
    width: 50%;
}

.routingRightPreference .horizontalSlider {
    width: 50%;
}

.helpIcon {
    margin: 11px -40px 0px 0px;
    position: relative;
    z-index: 1001;
    font-size: 1.5em;
    display: none;
    color: #0e90d2;
}

#presetProfiles .helpIcon {
    margin: 1px -35px 0px 0px;
}


.journeyButtonIcon {
    width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
    float: left;
}

.busy {
    cursor:wait;
}

#mapBusy {
    position: absolute;
    top     : 50%;
    width   : 100%;
}

#modlessDialogWrapper {
    width         : 100%;
    position      : relative;
    z-index       : 1000;
    padding-right : 3%;
    padding-left  : 3%;
}

.modelessDialogBackground {
    background-color: rgba(78, 93, 108, 0.8);
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.modlessDialogBody {
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: initial;
}

.modlessDialogBody .text-muted {
    color : #b3b3b3;
}

.modelessButton {
    height  : 100%;
}

#modlessDialogWrapper.vertical .modelessButton {
    width: 100%;
}

#modlessDialogWrapper:not(.vertical) .modelessButton  {
    position: absolute;
    right   : 0;
    top     : 0;
    width   : 90px;
}

.navbar {
    font-size: 14px;
}

.pac-container {
    padding-top: 8px;
}

#presetProfilesInput {
    width:214px;
}

#presetProfiles .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#social-media {
    padding-right:6px;
    margin-top:10px
}

#presetProfiles .tt-hint {
    color: #999;
    width: 214px;
}

#presetProfiles .tt-menu {    /* used to be tt-dropdown-menu in older versions */
    color: #2b3e50;
    font-size: 12px;
    width:214px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#presetProfiles .tt-suggestion {
  line-height: 24px;
}

#presetProfiles .tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

#presetProfiles .tt-suggestion p {
  margin: 0;
}

.authProviderIcon {
    width:60px;
    height:60px;
    float: left;
    margin-right: 10px;
}

#authModal .modal-body {
    display: flex;
}

#authModal .modal-dialog {
    width: 300px;
}

#journeyWrapper {
    position: absolute;
    top: 53px;
    left: -300px;
    z-index: 401;
}

.zikesAnchor a {
    color: #40E0D0;
}

.colorSwatchItem {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    margin-bottom: 3px;
    border: 2px solid white;
    border-style: groove;
}

.colorSwatchItem-clickable:hover {
  border: 1px solid white;
  cursor: pointer;
}

#windrose {
    position: absolute;
    top:    12px;
    right:  5px;
    width:  4em;
    height: 4em;
    transform-origin: center;
}

#windrose .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#windrose * {
    width: 100%;
    height: 100%;
}

#weather {
    position: absolute;
    top:    14px;
    left:   8px;
    width:  4em;
    height: 4em;
    opacity: 0.8;
}

#weather .icon {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 3px;
    right: 3px;
}

#weather .shadow {
    width: 100%;
    height: 100%;
    margin-top: 3px;
    margin-left: 3px;
    opacity: 0.2;
}

#weather .legend {
    width:100%;
    text-align:center;
    margin-top:-5px;
    margin-left:-5px;
    font-weight:bold;
    color:blue;
}

/*
SPINNER BEGIN->
*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
}

.spinner.dark:not(:required):before {
    border-top-color: #2b3e50;
}
.spinner.flood:before {
    width: 100%;
    height: 100%;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 2px solid #ebebeb;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
/*
SPINNER END<-
*/