#mainMobileWorkArea {
    padding: 0px;
    height: calc(100% - 49px);
    position: relative;
}

.bottomPanel {
    position: absolute;
    width: 100%;
    z-index: 998;
}

#toolsPanel {
    opacity: 0.8;
    background-color: rgba(78, 93, 108, 0.5);
    color: #20262c;
}

#toolsPanel .panel-title {
    font-weight: bold;
}

#toolsPanel .vertical-label-text {
    margin-left: 33px;
}

#toolsPanel #open {
    margin-top:-40px;
    font-size:2em;
    padding-right:43px;
    opacity:0;
    float:right;
}