<div id="route_tmpl">
    <div id="{{id}}" class="panel panel-default" style="margin:2px">
        <div class="panel-heading" role="tab" id="heading{{id}}" style="padding:4px 6px">
          <div class="panel-title">
            <span class="draghandle glyphicon glyphicon-road pull-left" style="padding:2px 4px 0px;font-size:0.75em"></span>
            <div class="collapsed panelHeading name" role="button" data-toggle="collapse" data-parent="#{{parent}}" href="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}" contenteditable="true">
                {{name}}
            </div>
          </div>
        </div>
        <div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
          <div class="panel-body">
            <div class="pull-left" style="width:230px; z-index:99">
              <div class="description panelBody placeHolderText zikesAnchor" contenteditable="true">{{description}}</div>
            </div>
            <div class="pull-right" style="width:41px; margin-right:-7px">
              <span id="centreIcon" class="btn journeyButtonIcon glyphicon glyphicon-hand-right" data-toggle="tooltip" title="pan to"></span>
              <span id="busyIcon" class="btn journeyButtonIcon glyphicon spinner hide" style="margin-top:4px;left:4px;margin-bottom:-4px;"/>
              <div class="dropdown" style="display:inline-block;padding-left: 7px;">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#ebebeb;"><b class="caret"></b></a>
                <ul class="dropdown-menu" style="margin-left:-100px;margin-top:3px;">
                  <li id="delete" data-toggle="tooltip" title="delete">
                    <a href="#"><span class="glyphicon glyphicon-trash pull-right"/>Delete</a>
                  </li>
                  <li id="changeColor" data-toggle="tooltip" title="route colour">
                    <a href="#"><span class="colorSwatchItem pull-right" style="background:{{color}};margin-right:-2px;"/>Change Color</a>
                  </li>
                </ul>
              </div>
            </div>
            <canvas class="routeProfileCanvas" width="268px" height="74px"></canvas>
            <canvas class="highlightProfileCanvas" width="268px" height="74px" style="margin-top:-79px; display:inherit"></canvas>
            <div class="routeEleDelta panelBody" style="margin-top:-22px;text-align:center;position:relative;font-size:0.8em;">{{dEle}}</div>
            <div class="panelBody routeStats"    style="width:100%;display:flex;flex-direction:column;font-size:0.8em;margin-top:7px;">
                <div style="display:flex;flex-direction:row;align-items:center;">
                    <div style="width:33%;">
                      <div class="speed hide" style="display:flex;flex-direction:row;align-items:center;">
                        <span class="pull-left glyphicon glyphicon-dashboard"/>
                        <div class="pull-left" style="margin-left:4px;">
                          <div class="avg">N/A</b></div><div style="font-size:0.7em;margin-top:-4px;">avg</div>
                        </div>
                        <div class="pull-left" style="margin-left:4px;">
                          <div class="max">N/A</b></div><div style="font-size:0.7em;margin-top:-4px;">max</div>
                        </div>
                        <span class="pull-left unit" style="margin-left:4px;"/>
                      </div>
                    </div>
                    <div class="distance" style="width:33%;text-align:center;">{{distance}}</div>
                    <div class="duration" style="width:33%;text-align:right;"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div id="poi_tmpl">
    <div id="{{id}}" class="panel panel-default" style="margin:2px">
        <div class="panel-heading" role="tab" id="heading{{id}}" style="padding:4px 6px">
          <div class="panel-title">
            <span class="draghandle glyphicon glyphicon-map-marker pull-left" style="padding:2px 4px 0px;font-size:0.75em"></span>
            <div class="collapsed panelHeading name" role="button" data-toggle="collapse" data-parent="#{{parent}}" href="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}" contenteditable="true">
                {{name}}
            </div>
          </div>
        </div>
        <div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
          <div class="panel-body">
            <div class="pull-left" style="width:230px; z-index:99">
              <div class="description panelBody placeHolderText zikesAnchor" contenteditable="true">{{description}}</div>
            </div>
            <div class="pull-right" style="width:41px; margin-right:-7px">
              <span id="delete" class="btn journeyButtonIcon glyphicon glyphicon-trash" data-toggle="tooltip" title="delete"></span>
              <span id="centreIcon" class="btn journeyButtonIcon glyphicon glyphicon-hand-right" data-toggle="tooltip" title="pan to"></span>
            </div>
          </div>
        </div>
      </div>
</div>

<div id="journey_tmpl">
    <div id="{{id}}"class="panel panel-default" style="margin:2px">
        <div class="panel-heading" role="tab" id="heading{{id}}" style="padding:4px 6px">
          <div class="panel-title">
            <div class="dropdown pull-right" style="display:inline-block;margin-left:3px;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#ebebeb;"><b class="caret"></b></a>
              <ul class="dropdown-menu" style="margin-left:-100px;margin-top:3px;">
                <li id="delete" data-toggle="tooltip" title="Delete"><a href="#">Delete</a></li>
              </ul>
            </div>
            <a href="#" id="open" class="button panelHeading">{{name}}</a>
          </div>
        </div>
      </div>
</div>

<div id="color_picker_tmpl">
  <table>
    <tr>
      <td><div id="c0" class="colorSwatchItem colorSwatchItem-clickable" style="background-color:{{c0}}"></div></td>
      <td><div id="c1" class="colorSwatchItem colorSwatchItem-clickable" style="background-color:{{c1}}"></div></td>
      <td><div id="c2" class="colorSwatchItem colorSwatchItem-clickable" style="background-color:{{c2}}"></div></td>
      <td><div id="c3" class="colorSwatchItem colorSwatchItem-clickable" style="background-color:{{c3}}"></div></td>
      <td><div id="c4" class="colorSwatchItem colorSwatchItem-clickable" style="background-color:{{c4}}"></div></td>
      <td><div id="c5" class="colorSwatchItem colorSwatchItem-clickable" style="background-color:{{c5}}"></div></td>
    </tr>
  </table>
  <div id="showElevation" class="small" style="margin-bottom: -7px;">
    <input data-toggle="tooltip" {{checked}} title="colouring relative to this route and only deployed when interestingly bumpy" type="checkbox"/><div class="pull-right" >show elevation</div>
  </div>
</div>
