<div id="navigated_route_tmpl">
    <canvas class="routeProfileCanvas"     width="100px" height="120px"></canvas>
    <canvas class="highlightProfileCanvas" width="100px" height="120px" style="margin-top:-126px; display:inherit;"></canvas>
    <div class="routeEleDelta" style="margin-top:-28px;padding-bottom:2px;text-align:center;position:relative;font-size:1.2em;">N/A</div>

    <div class="panel panel-default">
        <div class="panelBody" style="line-height:1;font-weight:bold;">
            <div style="width:100%; display:flex; flex-direction:column">
                <div style="display:flex;flex-direction:row;align-items:center;font-size:7vmin;">
                    <div style="width:33%">
                        <span class="glyphicon glyphicon-chevron-right"/>
                        <span class="fromOrigin"/>
                    </div>
                    <div class="speed" style="font-size:8vmin;width:33%;text-align:center;">0km/h</div>
                    <div style="width:33%;text-align:right;">
                        <span class="toDestination"/>
                        <span class="glyphicon glyphicon-chevron-right"/>
                    </div>
                </div>

                <div style="display:flex;flex-direction: row;align-items:flex-start;font-size:6vmin;box-sizing:border-box;padding-top:4px;color:#7bcce4;height:7vmin">
                    <div class="battery" style="width:33%;text-align:left;padding-left:2vmin">
                        <i class="empty          hidden fa fa-battery-empty"></i>
                        <i class="quarter        hidden fa fa-battery-quarter"></i>
                        <i class="half           hidden fa fa-battery-half"></i>
                        <i class="three-quarters hidden fa fa-battery-three-quarters"></i>
                        <i class="full           hidden fa fa-battery-full"></i>
                        <i class="charging       hidden fa fa-bolt" style="font-size: 5vmin;"></i>
                    </div>
                    <div class="clock" style="width:33%;text-align:center;"></div>
                    <div class="timeToDestination" style="width:33%;text-align:right;padding-right:8vmin"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="route_tmpl">
    <div id="{{id}}" style="width:100%;display:inline-block;float:none;position:relative;">
        <div style="margin:2px 4px 0px 4px;white-space:normal;font-size:0.9em;">
            <span class="glyphicon glyphicon-road"/>
            <span class="name">{{name}}</span>
            <div class="panelBody description">{{description}}</div>
            <canvas class="routeProfileCanvas"     width="100px" height="78px"></canvas>
            <div class="routeEleDelta" style="margin-top:-33px;padding-bottom:2px;text-align:center;position:relative;">N/A</div>
            <div class="routeStats"    style="width:100%;display:flex;flex-direction:column;margin-top:7px;">
                <div style="display:flex;flex-direction:row;align-items:center;">
                    <div style="width:33%;">
                      <div class="speed hide" style="display:flex;flex-direction:row;align-items:center;">
                        <span class="pull-left glyphicon glyphicon-dashboard"/>
                        <div class="pull-left" style="margin-left:4px;">
                          <div class="avg">N/A</b></div><div style="font-size:0.7em;margin-top:-4px;">avg</div>
                        </div>
                        <div class="pull-left" style="margin-left:4px;">
                          <div class="max">N/A</b></div><div style="font-size:0.7em;margin-top:-4px;">max</div>
                        </div>
                        <span class="pull-left unit" style="margin-left:4px;"/>
                      </div>
                    </div>
                    <div class="distance" style="width:33%;text-align:center;">{{distance}}</div>
                    <div class="duration" style="width:33%;text-align:right;"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="poi_tmpl">
    <div id="{{id}}" style="width:100%;display:inline-block;float:none;position:relative;">
        <div style="margin:2px 4px 0px 4px;white-space:normal;font-size:0.9em;">
            <span class="glyphicon glyphicon-map-marker"/>
            <span class="name">{{name}}</span>
            <div class="panelBody description">{{description}}</div>
        </div>
    </div>
</div>

